<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InsertSkydriveFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InsertSkydriveFiles.Properties.Settings>
            <setting name="photoInsertPattern" serializeAs="String">
                <value>&lt;a href="${permaLink}" target="_blank"&gt;&lt;img title="${name}" alt="${name}" src="${permaLink}" /&gt;&lt;/a&gt;</value>
            </setting>
            <setting name="audioInsertPattern" serializeAs="String">
                <value>[audio:${permaLink}|titles=${name}]</value>
            </setting>
            <setting name="previewPhoto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="liveId" serializeAs="String">
                <value>crifan2003@hotmail.com</value>
            </setting>
            <setting name="skydriveFolderUrl" serializeAs="String">
                <value>https://skydrive.live.com/?cid=9a8b8bf501a38a36</value>
            </setting>
            <setting name="insertFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uploadAutoHandleFilename" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uploadOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isKeepLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loginInfoStr" serializeAs="String">
                <value />
            </setting>
            <setting name="videoInsertPattern" serializeAs="String">
                <value>${permaLink}</value>
            </setting>
            <setting name="otherInsertPattern" serializeAs="String">
                <value>${permaLink}</value>
            </setting>
            <setting name="openInNewWin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="addSufPhoto" serializeAs="String">
                <value />
            </setting>
            <setting name="addSufAudio" serializeAs="String">
                <value />
            </setting>
            <setting name="addSufVideo" serializeAs="String">
                <value>rmvb;mkv;f4v;xv;</value>
            </setting>
        </InsertSkydriveFiles.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
